# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: CmdLine@2
  inputs:
    script: |
        set -o errexit
        set -o nounset
        set -o pipefail
        curl --fail --location --show-error \
            --silent https://archive.apache.org/dist/maven/maven-3/3.9.11/binaries/apache-maven-3.9.11-bin.tar.gz |
            tar --extract --gzip --directory=/opt
        echo "##vso[task.prependpath]/opt/apache-maven-3.9.11/bin"
        
        
- task: JFrogMaven@1
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean install'
    artifactoryResolverService: 'art1'
    targetResolveReleaseRepo: 'maven-virtual'
    targetResolveSnapshotRepo: 'maven-virtual'
    artifactoryDeployService: 'art1'
    targetDeployReleaseRepo: 'maven-dev-local'
    targetDeploySnapshotRepo: 'maven-dev-local'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'


- task: JFrogDocker@1
  inputs:
    command: 'Pull'
    artifactoryConnection: 'art1'
    imageName: 'artifactory.com.cn/docker-local/test:v1'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    skipLogin: false

- task: JFrogDocker@1
  inputs:
    command: 'Push'
    artifactoryConnection: 'art1'
    imageName: 'artifactory.com.cn/docker-local/test:v1'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    threads: '3'
    skipLogin: false