# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java


trigger:
- none

pool:
  vmImage: ubuntu-latest

steps:
- task: CmdLine@2
  inputs:
    script: |
      export JFROG_CLI_LOG_LEVEL="DEBUG"
      git branch -vv
      git checkout master
      echo $(test)

- task: JFrogMaven@1
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean install'
    options: 'test'
    artifactoryResolverService: 'JFrog Artifactory V2'
    targetResolveReleaseRepo: 'maven-virtual'
    targetResolveSnapshotRepo: 'maven-virtual'
    artifactoryDeployService: 'JFrog Artifactory V2'
    targetDeployReleaseRepo: 'maven-dev-local'
    targetDeploySnapshotRepo: 'maven-dev-local'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    includeEnvVars: true
    javaHomeOption: 'JDKVersion'

# - task: JFrogCollectIssues@1
#   inputs:
#     artifactoryConnection: 'JFrog Artifactory V2'
#     configSource: 'taskConfiguration'
#     taskConfig: |
#       version: 1
#       issues:
#           trackerName: JIRA
#           regexp: (.+-[0-9]+)\s-\s(.+) 
#           keyGroupIndex: 1
#           summaryGroupIndex: 2
#           trackerUrl: http://abc.com
#           aggregate: true
#           aggregationStatus: RELEASED
#     buildName: '$(Build.DefinitionName)'
#     buildNumber: '$(Build.BuildNumber)'
- task: JFrogMaven@1
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean install'
    artifactoryResolverService: 'art1'
    targetResolveReleaseRepo: 'maven-virtual'
    targetResolveSnapshotRepo: 'maven-virtual'
    artifactoryDeployService: 'art1'
    targetDeployReleaseRepo: 'maven-dev-local'
    targetDeploySnapshotRepo: 'maven-dev-local'
    javaHomeOption: 'JDKVersion'